<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Popsicle</string>
	<key>uuid</key>
	<string>42B6F57F-FAC6-4EFC-AD96-7B43121B449B</string>
</dict>
</plist>
